/* Coolors Exported Palette - coolors.co/de2892-1e97a7-b53694-252525-a741af */

/* HSL */
$color1: hsla(325%, 73%, 51%, 1);
$color2: hsla(187%, 70%, 39%, 1);
$color3: hsla(316%, 54%, 46%, 1);
$color4: hsla(0%, 0%, 15%, 1);
$color5: hsla(296%, 46%, 47%, 1);

/* RGB */
$color1: rgba(222, 40, 146, 1);
$color2: rgba(30, 151, 167, 1);
$color3: rgba(181, 54, 148, 1);
$color4: rgba(37, 37, 37, 1);
$color5: rgba(167, 65, 175, 1);